@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto:100');
@font-face {
  font-family: MinecraftAlt;
  src: url(fonts/Minecrafter.Alt.ttf);
}
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto';
  font-size: 1rem;
  transition-duration: 0.3s;
}
a {
  text-decoration: none;
  color: rgb(1, 135, 134);
}

body {
  background-image: url('images/dust-scratches.png');
}

#parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

header {
  position: relative;
  margin-bottom: -12.5vh;
  height: 50vh;
}
header::after {
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  transform: translateY(-15rem) translateZ(-0.5px) scale(2);
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 1));
}
header h1 {
  display: inline-block;
  margin: 25vh 0 0 20vw;
  font-size: 2.5rem;
  font-weight: 100;
  color: rgb(255, 255, 255);
  transform: translateY(-50%);
}

main {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: stretch;
  position: relative;
  margin: auto;
  height: fit-content;
  width: 80vw;
  transform: translateZ(0);
}

.column {
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  align-self: flex-start;
  justify-content: space-evenly;
}

.card {
  flex: 1;
  align-self: flex-start;
  display: block;
  position: relative;
  overflow: hidden;
  margin: 1rem;
  border-radius: 4px;
  padding-bottom: 60px;
  min-width: 15rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.2),
    0 3px 4px 0 rgba(0, 0, 0, 0.14),
    0 1px 8px 0 rgba(0, 0, 0, 0.12);
}
.discord {
  height: 50rem;
}
.discord object {
  height: 30rem;
  width: 100%;
}
.primary img {
  display: block;
  position: relative;
  border-radius: 4px 4px 0 0;
  width: 100%;
}
.primary .header {
  padding: 1rem;
  font-weight: 500;
}
.primary .header h2 {
  margin: 0;
  line-height: 2rem;
  font-size: 1.25rem;
}
.primary .header h3 {
  margin: 0;
  line-height: 1.4rem;
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.54);
}
.primary .info {
  padding: 0 1rem 8px;
  line-height: 1.25rem;
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.54);
}
.primary .info object {
  min-height: 10rem;
}
.actions {
  position: absolute;
  bottom: 0;
  padding: 8px;
  min-height: 52px;
  width: 100%;
  background-color: rgba(255, 255, 255);
}
.actions a, footer a {
  display: inline-block;
  margin-right: 8px;
  border-radius: 4px;
  padding: 0 8px;
  min-width: 64px;
  line-height: 36px;
  text-decoration: none;
  font-weight: 500;
  background-position: center;
  transition: background 0.8s;
}
.actions a:hover, footer a:hover {
  background: rgba(1, 135, 134, 0.3) radial-gradient(circle, transparent 1%, rgba(1, 135, 134, 0.1) 1%) center/15000%;
}
.actions a:active, footer a:active {
  background-color: rgba(1, 135, 134, 0.3);
  background-size: 100%;
  transition: background 0s;
}

footer {
  padding: 5vw;
  min-height: 50vh;
  background-color: rgb(0, 0, 0);
}
footer h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
}
footer textarea {
  margin-bottom: 2rem;
  border-radius: 4px;
  padding: 1rem;
  width: 100%;
  height: 8rem;
  white-space: pre-wrap;
  line-height: 1.75rem;
  color: rgb(255, 255, 255);
  background-color: rgb(57, 60, 61);
}
footer textarea::-webkit-scrollbar {
  display: none;
}
footer a {
  border: 2px solid rgb(1, 135, 134)
}

.fab1 {
  display: inline-block;
  position: fixed;
  bottom: 33px;
  right: 33px;
  border-radius: 24px;
  padding: 0 20px;
  font-size: 0.9rem;
  line-height: 2.5rem;
  text-align: center;
  font-weight: 500;
  color: rgb(255, 255, 255);
  background-color: rgb(1, 135, 134);
  box-shadow: 0 3px 5px -1px rgba(0, 0 ,0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14),
    0 1px 18px 0 rgba(0, 0, 0, 0.12);
}